*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.selamento {
    position: absolute;
}

.imgBackgrou {
    width: 50%;
    height: 713px;
    object-fit: fill;
    border: 1px solid #fff;
}

.imgSelamento {
    position: fixed;
    width: 73px;
    border: 1px solid #000;
    box-shadow: 2px 3px 7px #000;
    left: 48%;
    top: 41%;
    cursor: pointer;
}

/* responsivo img */
@media screen and (max-width: 500px){
    .imgBackgrou {
        height: 668px;
    }
    .imgSelamento {
        width: 55px;
        left: 43%;
        top: 41%;
    }
}

/* bolinhas */

.ball{
    position: fixed;
    width: 261px;
    height: 498px;
    left: 43.6%;
    top: 16%;
}

.ballNo {
    visibility: hidden;
}

/* responsivo cordão de bolinhs */
@media screen and (max-width: 500px){
    .ball{
        width: 188px;
        height: 616px;
        left: 25.6%;
        top: 2.8%;
    }
}
/* ------------------------ */

/* corrente cima */

.svg3 {
    position: fixed;
    width: 3%;
    left: 50%;
    top: -9%;
}

.svg3A {
    position: fixed;
    width: 3%;
    left: 47.2%;
    top: -9%;
}
/* responsivo corrente cima */
@media screen and (max-width: 500px){
    .svg3{
        width: 59px;
        left: 50.6%;
        top: -10.2%;
    }
    .svg3A {
        width: 59px;
        left: 35.6%;
        top: -10.2%;
    }
}

/* ------------------ */

/* corrente baixo */

.svg3B {
    position: fixed;
    width: 3%;
    left: 47.2%;
    top: 50%;
}

.svg3C {
    position: fixed;
    width: 3%;
    left: 50%;
    top: 50%;
}

/* responsivo corrente baixo */
@media screen and (max-width: 500px){
    .svg3B {
        width: 59px;
        left: 49.6%;
        top: 45.8%;
    }
    .svg3C {
        width: 59px;
        left: 37.6%;
        top: 45.8%;
    }
}

/* ------------------- */

/* corrente lado direito */

.svg1 {
    position: fixed;
    width: 34%;
    left: 52%;
    top: 41%;
}


.svg1A {
    position: fixed;
    width: 31%;
    left: 83%;
    top: 43%;
}

/* responsivo corrente lado direito */
@media screen and (max-width: 500px){
    .svg1 {
        visibility: hidden;
    }
    .svg1A {
        width: 92%;
        left: 56%;
        top: 41%;
    }
}
/* -------------------- */

/* corrente lado esquerdo */

.svg2 {
    position: fixed;
    width: 34%;
    left: 13%;
    top: 41%;
}

.svg2A {
    position: fixed;
    width: 30%;
    left: -14%;
    top: 44%;
}

/* responsivo corrente lado esquerdo */
@media screen and (max-width: 500px){
    .svg2 {
        visibility: hidden;
    }
    .svg2A {
        width: 92%;
        left: -48%;
        top: 41%;
    }
}

/* ------------------------ */

/* Animação das correntes */

.chainA {
    animation: .5s ease-in forwards chain;
}

.chain1A {
    animation: .8s ease-in forwards chain;
}

.chain2A {
    animation: 1s ease-in forwards chain;
}

.chain3A {
    animation: 1.5s ease-in forwards chain;
}

.chain4A {
    animation: 2.8s ease-in forwards chain;
}

.chain5A {
    animation:  1.8s ease-in forwards chain;
}

.chain6A {
    animation:  2s ease-in forwards chain;
}

@keyframes chain {

    100% {
        opacity: 0;
    }
    
}

/* -------------------------------------------------- */

/* animação da carta */

.letterAnim {
    animation: letter 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes letter {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
            opacity: 0;
  }
}
