*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.selamento {
    position: absolute;
}

.imgBackgrou {
    width: 50%;
    height: 713px;
    object-fit: fill;
    border: 1px solid #fff;
}


.imgSelamento {
    position: fixed;
    width: 73px;
    border: 1px solid #000;
    box-shadow: 2px 3px 7px #000;
    left: 48%;
    top: 41%;
    cursor: pointer;
}

/* bolinhas */

.ball{
    position: fixed;
    width: 261px;
    height: 498px;
    left: 43.6%;
    top: 16%;
}

.ballNo {
    visibility: hidden;
}

/* ------------------------ */

/* corrente cima */

.svg3 {
    position: fixed;
    width: 3%;
    left: 50%;
    top: -9%;
}

.svg3A {
    position: fixed;
    width: 3%;
    left: 47.2%;
    top: -9%;
}

/* ------------------ */

/* corrente baixo */

.svg3B {
    position: fixed;
    width: 3%;
    left: 47.2%;
    top: 50%;
}

.svg3C {
    position: fixed;
    width: 3%;
    left: 50%;
    top: 50%;
}

/* ------------------- */

/* corrente lado direito */

.svg1 {
    position: fixed;
    width: 34%;
    left: 52%;
    top: 41%;
}


.svg1A {
    position: fixed;
    width: 31%;
    left: 83%;
    top: 43%;
}

/* -------------------- */

/* corrente lado esquerdo */

.svg2 {
    position: fixed;
    width: 34%;
    left: 13%;
    top: 41%;
}

.svg2A {
    position: fixed;
    width: 30%;
    left: -14%;
    top: 44%;
}

/* ------------------------ */

/* Animação das correntes */

.chainA {
    animation: .5s ease-in forwards chain;
}

.chain1A {
    animation: 1.1s ease-in forwards chain;
}

.chain2A {
    animation: 1.6s ease-in forwards chain;
}

.chain3A {
    animation: 2.3s ease-in forwards chain;
}

.chain4A {
    animation: 2.8s ease-in forwards chain;
}

.chain5A {
    animation:  3.5s ease-in forwards chain;
}

.chain6A {
    animation:  4.3s ease-in forwards chain;
}

@keyframes chain {

    100% {
        opacity: 0;
    }
    
}

/* -------------------------------------------------- */

/* animação da carta */

.letterAnim {
    animation: letter 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes letter {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
            opacity: 0;
  }
}